@import '../../styles/constants.less';

.button {
  background-color: transparent;
  border: none;
  color: @secondary-color;
  font: inherit;
  line-height: normal;
  margin: 4px;
  outline: none;
  padding: 2px;

  &:disabled {
    color: fade(@secondary-color, 50%);

    &:hover {
      cursor: not-allowed;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
