@import './constants.less';
@import './fonts/Comfortaa.less';

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

html {
  background-color: @base-color;
  box-sizing: border-box;
  font-family: 'Comfortaa', sans-serif;
height: 1000px;
  margin: 0;
  padding: 0;
}
