@import '../../styles/constants.less';

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__button {
    background-color: transparent;
    border: none;
    color: @secondary-color;
    font: inherit;
    line-height: normal;
    margin: 4px;
    min-width: 55px;
    outline: none;
    padding: 2px;

    &:hover {
      cursor: pointer;
    }

    &--status {
      &:hover {
        cursor: default;
      }
    }
  }
}
